@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bold{
  font-weight:bold;

}
body {
  font-family: 'poppins', arial;
  margin: 0;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  background-image: url('IMG_8842.PNG');
  background-color: #ff6666;
  padding: 100px;
}

input {
  font-family: 'poppins';
}

.purple {
  position: absolute;
  right: 275px;
  margin-bottom: 180px;
  background-color: #6055a5;
  border-radius: 10px;
  padding: 15px 50px 15px 50px;
  font-size: 13px;
  max-width: 400px;
  width: 100%;
  box-shadow: 1px 5px 5px grey;
  top: 200px;
}

h1 {
  color: #fff;
  position: relative;
  padding-right: 100px;
  margin-right: 950px;
  text-align: left;
  font-size: 50px;
  line-height: 60px;
  left: 90px;
}

.p1 {
  position: absolute;
  bottom: 320px;
  left: 187px;
}

.white{
  color: #FFF
}

.form-control {
  background-color: #fff;
  flex-direction: column;
  margin-top: 80px;
  border-radius: 10px;
  padding: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  right: 275px;
  position: absolute;
  max-width: 400px;
  width: 100%;
  top: 200px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.form-control input {
  margin: 10px 0 5px;
  height: 38px;
  border-radius: 5px;
  width: 100%;
}

input {
  padding: 0 20px;
  border: 0.5px solid #b7b4d3;
}
input:focus{
  border: 1px solid #a9a1f7;
}
.btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px 10px;
  background-color: rgb(50, 172, 50);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'poppins';
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn:active {
  transform: scale(0.98);
}

h2 {
  font-size: 8px;
  margin-top: 20px;
  opacity: 0.5;
  padding: 0 20px;
}

.red a{
  color: red;
  text-decoration: none;
}


@media screen and (max-width:650px) {
   h1 {
     text-align: center;
     color: #fff;
  position: relative;
  font-size: 45px;
  line-height: 60px;
  left: 0px;
  margin: 0px 0px;
  padding: 0px 0px;
  bottom: 400px;
   }

   .purple{
     right: 90px;
     position: absolute;
     top: 645px;
     background-color: #6055a5;
     border-radius: 10px;
     padding: 15px 0px 15px 50px;
     font-size: 15px;
     max-width: 450px;
     width: 100%;
     box-shadow: 1px 5px 5px grey;
   }

   .form-control {
    background-color: #fff;
    flex-direction: column;
    margin-top: 600px;
    border-radius: 10px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    right: 90px;
    position: absolute;
    max-width: 450px;
    width: 100%;
    top: 120px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .p1 {
    position: absolute;
    top: 400px;
    left: 0px;
    text-align: center;
    font-size: 27px;
  }

  .form-control input {
    margin: 10px 0 5px;
    height: 50px;
    border-radius: 5px;
    width: 100%;
  }

  h2 {
    font-size: 15px;
    margin-top: 20px;
    opacity: 0.5;
    padding: 0 20px;
    text-align: center;
  }
}


@media screen and (min-width:375px) {
  h1 {
    text-align: center;
    color: #fff;
 position: relative;
 font-size: 35px;
 line-height: 40px;
 left: 0px;
 margin: 0px 0px;
 padding: 0px 0px;
 bottom: 250px;
 white-space: nowrap;
  }

  .purple{
    right: 39px;
    position: absolute;
    top: 385px;
    background-color: #6055a5;
    border-radius: 10px;
    padding: 7px 0px 15px 50px;
    font-size: 10px;
    max-width: 300px;
    width: 100%;
    box-shadow: 1px 5px 5px grey;
  }

  .form-control {
   background-color: #fff;
   flex-direction: column;
   margin-top: 290px;
   border-radius: 10px;
   padding: 10px;
   align-items: center;
   justify-content: center;
   display: flex;
   right: 39px;
   position: absolute;
   max-width: 300px;
   width: 100%;
   top: 120px;
   box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
 }

 .p1 {
   position: absolute;
   top: 250px;
   left: 13px;
   text-align: center;
   font-size: 15px;
 }

 .form-control input {
   margin: 10px 0 5px;
   height: 30px;
   border-radius: 5px;
   width: 100%;
 }

 h2 {
   font-size: 10px;
   margin-top: 10px;
   opacity: 0.5;
   padding: 0 20px;
   text-align: center;
 }

 .btn {
  width: 75%;
  margin-top: 20px;
  padding: 10px 5px;
  background-color: rgb(50, 172, 50);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'poppins';
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
}


@media screen and (min-width:414px) {
  h1 {
    text-align: center;
    color: #fff;
 position: relative;
 font-size: 30px;
 line-height: 40px;
 left: 0px;
 margin: 0px 0px;
 padding: 0px 0px;
 bottom: 240px;
  }

  .purple{
    right: 56px;
    position: absolute;
    top: 440px;
    background-color: #6055a5;
    border-radius: 10px;
    padding: 7px 0px 15px 50px;
    font-size: 10px;
    max-width: 300px;
    width: 100%;
    box-shadow: 1px 5px 5px grey;
  }

  .form-control {
   background-color: #fff;
   flex-direction: column;
   margin-top: 290px;
   border-radius: 10px;
   padding: 10px;
   align-items: center;
   justify-content: center;
   display: flex;
   right: 56px;
   position: absolute;
   max-width: 300px;
   width: 100%;
   top: 175px;
   box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
 }

 .p1 {
   position: absolute;
   top: 290px;
   left: 10px;
   text-align: center;
   font-size: 15px;
 }

 .form-control input {
   margin: 10px 0 5px;
   height: 30px;
   border-radius: 5px;
   width: 100%;
 }

 h2 {
   font-size: 10px;
   margin-top: 10px;
   opacity: 0.5;
   padding: 0 20px;
   text-align: center;
 }

 .btn {
  width: 75%;
  margin-top: 20px;
  padding: 10px 5px;
  background-color: rgb(50, 172, 50);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'poppins';
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
}
